
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon|IM+Fell+French+Canon+SC|IM+Fell+Great+Primer|IM+Fell+Great+Primer+SC');
$font__fell-1: 'IM Fell Great Primer', serif;
$font__fell-1--sc: 'IM Fell Great Primer SC', serif;
$font__fell-2: 'IM Fell French Canon', serif;
$font__fell-2--sc: 'IM Fell French Canon SC', serif;


@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:400,600|Vollkorn:400,400i,600,600i&display=swap&subset=cyrillic');
$font__vollkorn: 'Vollkorn', serif;
$font__vollkorn--sc: 'Vollkorn SC', serif;

//@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap&subset=cyrillic');
//$font__merriweather: 'Merriweather', serif;

