.breadcrumbs {
    a {
        font-size: 1.3em;
        font-weight: bold;
        color: #333;
        text-decoration: underline;
        //border-bottom: 1px solid #333;
    &::after{
    }
    }
}
.breadcrumbs li:not(:last-child)::after {
    content: "/";
    color: #cacaca;
        font-size: 1.1em;
        color: #333;
        font-weight: bold;
    margin: 0 0.5rem;
}
