//@format

.ia_root .l-content {
  > * {
    //outline: 1px solid red;
  }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas:
    'header header header header'
    'tabs tabs tabs tabs'
    'img    desc   desc   desc'
    'img    tags   tags   tags'
    'img    search search search'
    'footer footer footer footer';
  .pageTitle {
    grid-area: header;
  }
  .tabs {
    grid-area: tabs;
    display: none;
  }
  .block--islandora-blocks-datastreams {
    grid-area: img;
    //float: left;
    //@include clearfix;
    //margin-right: $global-margin * 2;
  }
  .islandora-collection-metadata-description {
    grid-area: desc;
  }
  .islandora-collection-metadata-in-collections {
    grid-area: tags;
  }
  #block-islandora-collection-search-islandora-collection-search {
    grid-area: search;
    .islandora-collection-search-form {
      display: flex;
    }
  }
  .view-collection {
    grid-area: footer;
  }
  .islandora-collection-metadata-markup {
    display: none;
  }
  .islandora-collection-metadata {
    border-bottom: 4px double #796554;
  }
  .view-collection {
    clear: both;
    margin-top: $global-margin;
    float: none;
  }
}
.islandora-collection-search-form .form-wrapper {
  display: flex;
}
.islandora-collection-search-form .form-wrapper * {
  margin-bottom: 0px;
}
