.l-header {
  background:$tan-2;

  padding-top: $global_padding;
}
.l-region--header {

nav {
    display: flex;
    justify-content: space-around;
}
    .topnav {

  background:$tan-3;
    }
}



header {

  text-align: center;

}
.site-name {

  margin: 0 $global-margin;
  color: $black;

}
.site-slogan {

  @extend h2;
}

.site-name__icon { 
  svg {
    fill: $black;

  }
  padding-top: rem-calc(10);

  svg { 
    width: 3rem;
    height: 3rem;
  }
}
.site-name__container {

  display: flex;
  justify-content: center;

}

$dropdownmenu-background: $tan-3;
header nav {

    background: $tan-3;
}
header .menu {
    //display:none;
  text-align:left;
  //margin-top: $global-margin;
  @extend .menu-centered;
  &__items {

    background: $tan-3;
  }
  a {

    //font-family: $font__fell-1--sc;
    color: $white;
    &:hover {
      background: $tan-1;
      text-decoration: underline;
      //color:$black;
    }
  }
}
.dropdown.menu > li > a {
    background: $dropdownmenu-background;
}
.dropdown.menu > li > a {
    background: $dropdownmenu-background;
}


