.search-dropdown {
  //position: relative;
  //display: inline-block;
}
search-block-form .container-inline {
display: flex;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show .dropdown-content {display:block;}
