//@format
.search-dropdown {
  //position: relative;
  //display: inline-block;
  svg {
  }
}
.search-dropdown-toggle {
  display: none;
  @include breakpoint(1217px) {
    display: block;
  }
  background: none;
  margin-bottom: 0;
  padding: 0;
  margin-right: $global-margin;
  svg {
    width: 2rem;
  }
  &:hover,
  &:active,
  &:focus {
    border: none;
    ouline: none !important;
    background: none;
  }
  svg:focus,
  svg:active {
    outline: none !important;
  }
}
button.search-dropdown-toggle.button {
  border: none !important;
  outline: 4px #fff;
}
.search-block-form .container-inline {
  display: flex;
  //padding: $global-padding;
  align-items: center;
  justify-content: center;
  .form-item {
    //width: 400px;
    margin-bottom: 0;
  }
  .block-content {
    display: flex;
    align-items: center;
  }
  input[type='submit'] {
    margin-bottom: 0;
    height: rem-calc(80);
    //font-size: 3rem;
    display: none;
  }
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  //display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: $tan-2;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 0;
  transition: all 0.4s linear;
  padding-left: $global-padding;
  padding-right: $global-padding;

  input[type='text'] {
    //margin-left: 1rem;
    max-width: rem-calc(600);
    //margin-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0;
    height: rem-calc(0);
    padding: 0;
    padding-left: 1rem;
    font-size: 3rem;
    border: 0px;
    transition: all 0.4s linear;
  }
  input[type='text'] {
    height: 0;
  }
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show .dropdown-content {
  @include double_borders;
  height: 175px;
  input[type='text'] {
    height: 4.5rem;
    padding: initial;
    padding-left: 1rem;
    font-size: 3rem;
    @include double_borders();
  }
}
