<h2>Island Archives</h2>
Island Archives is a program to provide online access to the recorded history of
Prince Edward Island. Housed at the Robertson Library at the University in
Prince Edward Island, the knowledge here was gathered in partnership with
several communities and organizations, thanks to generous financial support from
a number of individuals and organizations. Launched in 2010, Island Archives
uses
<a class="collection-grid__collection--title" href="https://islandora.ca">Islandora</a>, a community-run open-source software project that was created at the
University of Prince Edward Island.

<h2>PEI Exhibit Collections</h2>
<ul class="collection-grid">
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--link" href="https://islandlives.ca">
    <h3>Island Lives</h3>
    <span class="collection-grid__collection--description">
      Books about Prince Edward Island, highlighting community, church, and
      local histories. Made possible by a private donation.
    </span>
</a>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="https://islandvoices.ca">Island Voices</a>
    <span class="collection-grid__collection--description">
      Oral histories (spoken audio), featuring the audio archive from Reg
      "Dutch" Thompson's "The Bygone Days." Supported by the Inukshuk
      Foundation.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="https://islandnewspapers.ca">Island Newspapers</a>
    <span class="collection-grid__collection--description">
      Historic newspapers of Prince Edward Island, including The Guardian from
      the 1890s to the 1950s.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="https://bowingdownhome.ca">Bowing Down Home</a>
    <span class="collection-grid__collection--description">
      Fiddle music traditions on Prince Edward Island, curated by Ken Perlman
      and in partnership with of the Canadian Museum of History.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="https://islandimagined.ca">Island Imagined</a>
    <span class="collection-grid__collection--description">
      Historical maps, atlases, and gazetteers of Prince Edward Island, produced
      in collaboration with Public Archives and Records Office and the PEI
      Museum and Heritage Foundation.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="https://peildo.ca">PEI Legislative Documents</a>
    <span class="collection-grid__collection--description">
      Full text of the Journals of the Legislative Assembly of Prince Edward
      Island starting from the 32nd General Assembly of Prince Edward Island in
      March of 1894 to the present day. In partnership with the PEI Legislature,
      the Public Archives and Records Office, and the Government Services
      Library.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="http://vre2.upei.ca/islandmagazine/"><em>The Island</em> Magazine</a>
    <span class="collection-grid__collection--description">
      Full text of <em>The Island Magazine</em> from 1976 to 1996, published by
      and provided in partnership with the PEI Museum and Heritage Foundation.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="http://vre2.upei.ca/peimagazine/">The Prince Edward Island Magazine</a>
    <span class="collection-grid__collection--description">
      The <em>Prince Edward Island Magazine</em> was published by Archibald
      Irwin from 1899-1905.
    </span>
  </li>
</ul>

<h2>UPEI Archives collections</h2>

<ul>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="http://vre2.upei.ca/upeia/">University of Prince Edward Archives Digital Collections</a>
    <span class="collection-grid__collection--description">
      Portal into digitized material about UPEI and its predecessors, Saint
      Dunstan's University and the Prince of Wales College.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="http://vre2.upei.ca/pwc/">Prince of Wales College: A Legacy</a>
    <span class="collection-grid__collection--description">
      Exhibit site featuring yearbooks, newsletters, calendars, and images from
      the Prince of Wales College.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="http://sdu.vre3.upei.ca/">Saint Dunstan's University</a>
    <span class="collection-grid__collection--description">
      Exhibit site featuring yearbooks, calendars, campus magazine, and more
      from Saint Dunstan's University.
    </span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="https://islandvoices.ca">The <em>Red &amp; White</em></a>
    <span class="collection-grid__collection--description">
      Campus magazine of St. Dunstan's University, 1909-1969.</span>
  </li>
  <li class="collection-grid__collection">
    <a class="collection-grid__collection--title" href="http://vre2.upei.ca/upeimag/"><em>UPEI Magazine</em></a>
    <span class="collection-grid__collection--description">
      Campus magazine of UPEI, 1983-2004.
    </span>
  </li>
</ul>

